h1 {
    width: 300px;
    text-align: center;
    background-color: #ff0040;
    color: #003049;
    text-shadow: -1px -1px 0 #3fe491,
        1px -1px 0 #3fe491,
        -1px 1px 0 #3fe491,
        1px 1px 0 #3fe491;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.people {
    --outline: #a0e08c;
    background-color: #003049;
    color: #ff0040;

}

.people li {
    font-size: x-large;
    word-spacing: 20px;
    letter-spacing: 10px;
    background-color: #003049;
    color: #a0e08c;

}

li::marker {
    color: black;
    font-size: medium;
    font-weight: bolder;
}