@media screen and (min-width: 900px) {

    nav {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5em;
        border-top: 2px solid black;
        padding: 20px;
    }

    nav a {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #menu {
        display: none;
    }

    .discover-main {
        display: grid;
        grid-template-columns: 30% auto;
    }

    .photos-discover img:hover {
        box-shadow: 0 0 20px var(--secondary-color);

    }
}