table {
    border-collapse: collapse;
    caption-side: bottom;
}

td,
th {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

thead {
    color: white;
    background-color: grey;
}

th:first-child {
    background-color: black;
}

td:first-child {
    font-weight: bolder;
}

tbody tr:nth-child(even) {
    background-color: aliceblue;
}