html {
    font-family: 'Tektur', sans-serif;

}

header {
    width: 650px;
    margin: 0 auto;
    background-color: blue;
    padding: 20px 0;
    color: white;

}

h1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 img {
    width: 100px;
    padding-right: 50px;
}


nav {
    width: 650px;
    margin: 0 auto;
    background-color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;

}

a:hover {
    border: 1px solid white;
}

main {
    width: 600px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    border-bottom: 2px solid black;
}

.card {
    display: grid;
    border: 1px solid black;
    margin-bottom: 10px;
}

.card h3 {
    margin: 0;
    background-color: blue;
    text-align: center;
    padding: 10px;
    color: white;
}

.card li {
    padding: 5px;
}



footer {
    width: 650px;
    margin: 20px auto;
    text-align: center;
    background-color: blue;
    padding: 20px 0;
    color: white;
}